:root{
    --red-theme: rgb(201, 18, 49);
    --black-theme: rgb(37, 36, 36);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: var(--black-theme);
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("corona(3).jpg");
    background-position: center;
    background-size: cover;
}
.first{
    color: var(--red-theme);
}
#heading{
    
    text-align: center;
    margin: 2rem 0;
    font-size: 8vw;
}

li{
    list-style: none;
}
a{
    color: var(--red-theme);
}
.container{
    max-width: 1000px;
    margin: auto;
}

.country-input{
    border: none;
    border-bottom: 2px solid var(--red-theme);
    background-color: transparent;
    color: #fff;
    padding: 1rem;
    font-size: 2vw;
    display: block;
    width: 40%;
    margin : 2rem auto;
}
.country-input::placeholder{
    color: rgb(184, 174, 174);
}

.btn{
    padding: .6rem;
    border-radius: 50px;
    background-color: var(--red-theme);
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
    border: 1px solid var(--red-theme);
    display: block;
    margin: 1rem auto;
    width: 40%;
    transition: all .2s ease-in-out;
}
.btn:hover{
   
    
    color: #dac7c7;
}
.country-input:focus,
.btn:focus{
    outline: none;
}

.table{
    width: 100%;
    background-color: #d3c6c6;
    margin: 3rem auto;
    padding: 1.5rem;
    border-radius: 20px;
    border-collapse: collapse;
    border-spacing: 0;
}
tr:nth-of-type(odd) { 
    border-radius: 10px;
    background: #eee; 
  }

tr th{
    padding: 1rem 2rem;
   
}

th,td{
    color: black
;
    padding: 10px;
    text-align: center;
}
.second{
    color: white;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    box-shadow: aliceblue;
}
.nav-bar{
    display: flex;
    padding: 40px 120px;

}
.nav-logo img{
    width: 130px;
}

@media screen and (max-width: 1060px) {
    body {
        width:100%; 
    } 
}
@media only screen and (max-width: 768px){
    body {
        width:100%; 
    } 

}
@media only screen and (max-width: 600px){
    body {
        width:100%; 
    } 
}
@media only screen and (min-width: 600px){
    body {
        width:100%; 
    } 
}
@media only screen and (min-width: 1200px){
    body {
        width:100%; 
    }
}
@media only screen and (min-width: 992px){
    body {
        width:100%; 
    } 
}
@media only screen and (min-width:768px){
    body {
        width:100%; 
    } 
}
